<!doctype html>
<html>

<head>
  <title>test</title>
  <meta charset='UTF-8'>
  <meta name='apple-mobile-web-app-title' content='Kambi'>
  <meta name='description' content='Kambi Sportsbook Facebook widget'>
  <meta name='HandheldFriendly' content='True'>
  <meta name='MobileOptimized' content='320'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui'>
  <meta name='fragment' content='!' />
  <meta name='mobile-web-app-capable' content='yes'>
  <meta name='apple-mobile-web-app-capable' content='yes'>
  <meta name='apple-mobile-web-app-status-bar-style' content='black'>
  <meta name='apple-mobile-web-app-title' content=''>
</head>

<body class='kw-body'>
  <header class='KambiWidget-header kw-header'>
    <div id='title'></div>
  </header>
  <main class='kw-main'>
    <div class='kw-match'>
      <span id='match-info'></span>
    </div>
    <div class='kw-participants'>
      <span id='home-info' class='kw-participants__home'>
      </span>
      <span id='away-info' class='kw-participants__away'>
      </span>
    </div>
  </main>
</body>

</html>