//General styles.
//Do not use colors here.
//Use the theme css file instead

// Angular cloak class
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
}

* {
   -webkit-tap-highlight-color: transparent;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
   -webkit-touch-callout: none;
   touch-callout: none;
}

*, *:after, *:before {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

body, html, * {
   font-family: Roboto, sans-serif;
   font-size: 12px;
   line-height: 24px;
}

body, html {
   height: 100%;
   margin: 0;
   padding: 0;
   width: 100%;
}

a {
   text-decoration: none;
}

strong {
   font-weight: bold;

   &.stronger {
      font-weight: bolder;
   }
}


