* {
   -webkit-tap-highlight-color: transparent;
   -webkit-text-size-adjust: 100%;
   -webkit-touch-callout: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   -webkit-user-select: none;
}

*,
*::after,
*::before {
   @include box-sizing(border-box);
}

body,
html,
* {
   font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 24px;
}

body,
html {
   margin: 0;
   padding: 0;
   width: 100%;
}

html {
   min-width: 100%;
   width: 1px;
}

a {
   text-decoration: none;
}

strong {
   font-weight: bold;
}
