.l-flexbox {
   @include flexbox();
}

.l-horizontal {
   @include box-orient(row);
}

.l-vertical {
   @include box-orient(column);
}

.l-align-start {
   @include box-align(flex-start);
}

.l-align-center {
   @include box-align(center);
}

.l-align-end {
   @include box-align(flex-end);
}

.l-align-stretch {
   @include box-align(stretch);
}

.l-pack-start {
   @include box-pack(flex-start);
}

.l-pack-center {
   @include box-pack(center);
}

.l-pack-end {
   @include box-pack(flex-end);
}

.l-pack-justify {
   @include box-pack(space-between);
}

.l-flexed,
.l-flex-1 {
   @include flex(1);
}

.l-flex-2 {
   @include flex(2);
}

.l-flex-3 {
   @include flex(3);
}

.l-flex-4 {
   @include flex(4);
}

.l-flex-5 {
   @include flex(5);
}

[class*="l-flex-"] {
   min-width: 1px; // Firefox needs this
}

.l-expander {
   height: 100%;
   position: relative;
   width: 100%;
}

.text-truncate {
   @include text-truncate();
}


