.l-flexbox {
   display: flex;
}

.l-horizontal {
   flex-direction: row;
}

.l-vertical {
   flex-direction: column;
}

.l-align-start {
   align-items: flex-start;
}

.l-align-center {
   align-items: center;
}

.l-align-end {
   align-items: flex-end;
}

.l-align-stretch {
   align-items: stretch;
}

.l-align-baseline {
   align-items: baseline;
}

.l-align-self-auto {
   align-self: auto;
}

.l-align-self-start {
   align-self: flex-start;
}

.l-align-self-center {
   align-self: center;
}

.l-align-self-end {
   align-self: flex-end;
}

.l-align-self-stretch {
   align-self: stretch;
}

.l-align-self-baseline {
   align-self: baseline;
}

.l-justify-start {
   justify-content: flex-start;
}

.l-justify-center {
   justify-content: center;
}

.l-justify-end {
   justify-content: flex-end;
}

.l-justify-between {
   justify-content: space-between;
}

.l-justify-around {
   justify-content: space-around;
}


@each $flex in 1 2 3 4 5 6 7 8 9 10 {
   .l-flex-#{$flex} {
      flex: $flex
   }
}

.l-flexed {
   flex: 1;
}


[class*="l-flex-"] {
   min-width: 1px; // Firefox needs this
}

.text-truncate {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
