$margins: 2 4 6 8 12 16 20 24 32;

$color-2-2-primary-background: #00c1de;
$color-2-2-primary-background-hover: #e6f9fc;
$color-4-1-card-background: #fff;
$color-4-1-card-background-hover: #f0f0f0;
$color-4-2-card-supportive-text: #999;
$color-4-2-card-text: #333;
$color-4-1-card-border: #eaeaea;

$screen-xss: 320px;
$screen-xs: 480px;
$screen-ss: 568px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xlg: 1440px;

$screens: (
      ($screen-xss, xss),
      ($screen-xs, xs),
      ($screen-ss, ss),
      ($screen-sm, sm),
      ($screen-md, md),
      ($screen-lg, lg),
      ($screen-xlg, xlg)
);
