.kw-header {
   font-size: 12px;
   line-height: 36px;
   min-height: 37px;
   overflow: hidden;
   position: relative;
}

.kw-collapsible-header {
   font-size: 14px;
}

.kw-footer {
   text-align: center;
}
