a {
   color: $color-4-2-card-text;
}

.kw-card {
   background-color: $color-4-1-card-background;
}

.kw-header {
   background-color: transparent;
   border-bottom: solid 1px $color-4-1-card-border;
   color: $color-4-2-card-supportive-text;
}

.kw-icon-header {
   background-color: transparent;
   border-bottom: solid 1px $color-4-1-card-border;
   color: $color-4-2-card-supportive-text;
   @include border-radius(2px 2px 0 0);
}

.kw-icon-header-text-container {
   @include calc(max-width, '100% - 62px');
}

.kw-icon-header-logo {
   background-repeat: no-repeat;
   background-size: cover;
   height: 32px;
   margin-right: 12px;
   width: 32px;
}

.kw-icon-header-title,
.kw-icon-header-subtitle {
   color: black;
   line-height: 16px;
   max-height: 16px;
   min-height: 16px;
}

.kw-icon-header-title {
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
}

@media (max-width: 300px) {
   .kw-icon-header-title {
      font-size: 15px;
   }
}

.kw-footer {
   border-top: solid 1px $color-4-1-card-border;
}

.kw-btn {
   background-color: white;
   border: 1px solid #eee;
   color: $color-4-2-card-supportive-text;
}

.kw-btn:hover {
   background-color: $color-2-2-primary-background-hover;
}

.kw-btn.selected {
   background-color: $color-2-2-primary-background;
   color: white;
}

.kw-btn.disabled {
   background-color: $color-4-1-card-background;

   &:hover {
      background-color: $color-4-1-card-background;
      cursor: not-allowed;
   }
}

.kw-btn.selected .kw-event-outcome-odds {
   color: white;
}

.kw-btn.selected .kw-event-outcome-label {
   @include opacity(.85);
   color: white;
}

.kw-event::after {
   background-color: $color-4-1-card-border;
}

.kw-event:hover {
   background-color: $color-4-1-card-background-hover;
}

.kw-page-link.kw-active-page, .kw-page-link:hover {
   background-color: $color-4-1-card-background-hover;
}
