.kw-header {
   font-size: 12px;
   line-height: 36px;
   min-height: 37px;
   overflow: hidden;
   position: relative;
}

.kw-header-left-text {
   float: left;
}

.kw-header-right-text {
   float: right;
}

.kw-icon-header {
   font-size: 12px;
   line-height: 36px;
   overflow: hidden;
   position: relative;
   min-height: 64px;
}

.kw-collapsible-header {
   font-size: 14px;
}

.kw-footer {
   text-align: center;
}
