.event {
  display: flex;
  flex-direction: column;
}

.outcomes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.outcome {
  display: flex;
  flex-basis: auto;
  padding: 3px 5px;
  flex-grow: 1;
}

.betoffer-label {
  text-align: center;
}
