@import '~compass-mixins';
@import 'includes/variables';
@import 'includes/general';
.rootElement {
   @import 'includes/overrides';
   position: relative;
   &Embedded {
      box-sizing: border-box;
      height: 0;
      overflow-y: hidden;
   }
}